:root {
  --primary-color: #146c94;
  --secondary-color: #19a7ce;
  --accent-color: #f67504;
  --text-color: #333;
  --bg-color: #f4f4f4;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--bg-color);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.02' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    var(--secondary-color),
    var(--primary-color)
  );
  opacity: 0.7;
  z-index: 1;
}

h1,
.subtitle {
  position: relative;
  z-index: 2;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-img img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  object-position: center 1%;
  border-radius: 50%;
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.link {
  background-color: white;
  color: var(--primary-color);
  padding: 15px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.link:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.link i {
  margin-right: 10px;
  font-size: 1.2em;
}

.link span {
  margin-left: 5px; /* Add space between icon and text */
}

@media (max-width: 600px) {
  .links {
    grid-template-columns: 1fr;
  }
}
